{
    "parser": "@typescript-eslint/parser",
    "extends": [
      "airbnb-base",
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "plugins": [
      "@typescript-eslint"
    ],
    "rules": {
      "semi": ["error", "always"],
      "quotes": ["error", "single"],
      "no-extra-semi": "off",
      "no-console": "off",
      "import/extensions": "off",
      "import/no-unresolved": "off",
      "no-underscore-dangle": "off",
      "class-methods-use-this": "off",
      "no-shadow": "off"
    },
    "ignorePatterns": ["src/deprecated/","node_modules/","dist/"]
}